<include file="Public:header"/>
<style type="text/css">
	body {
		background-image: url("http://i1.piimg.com/1949/0e30154fbb82ccb3t.jpg");
		background-repeat: repeat;
		background-size: 30px;
	}
</style>
<body>
<h1>「黄金脆皮稽」工作室</h1>
<br>
<h3>  &emsp;&emsp;· <a target="_blank"  href="http://blog.csdn.net/leiflyy">李宇阳</a> </h3>
<h3>  &emsp;&emsp;· <a target="_blank" href="http://isunday.top">纪笑难</a> </h3>
<h3>  &emsp;&emsp;· <a target="_blank"  href="https://github.com/cherrymeteor">卢昊</a> </h3>
<h3>  &emsp;&emsp;· <a target="_blank"  href="https://www.baidu.com/s?wd=%E5%86%AF%E5%AE%87%E5%8D%9A&rsv_spt=1&rsv_iqid=0xe4a97a2b00067abc&issp=1&f=8&rsv_bp=0&rsv_idx=2&ie=utf-8&tn=baiduhome_pg&rsv_enter=1&rsv_sug3=11&rsv_sug1=13&rsv_sug7=100&rsv_sug2=0&inputT=3960&rsv_sug4=3961">冯宇博</a> </h3>
</body>